.hero-image {
    border: solid grey; 
    height: 400px;
    background-image:url('../Images/communityevent.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}
.hero-text {
    text-align: center;
    padding-top: 100px;
    color: rgb(250, 244, 208);
}
.hero-text button {
    color: #2c2d2d;
    background-color:#F2F2F2 ;
}